@using iAFWebHost.Models;
@using iAFWebHost.Utils;
@model UrlPageModel

<div class="pop-unit">
    @if (Model.Urls.Count > 0)
    {
        foreach (UrlModel item in Model.Urls)
        {
            <div class="row">
                <div class="col-xs-1">
                    <a href="/stats/@item.ShortId">
                        <div class="arrow_box">
                            @item.ShortId
                        </div>
                    </a>
                </div>
                <div class="col-xs-9">
                    @if (!String.IsNullOrEmpty(@item.Title))
                    {
                        <h3 style="margin:0px;"><a href="/@item.ShortId">@item.Title</a></h3>
                    }
                    else
                    {
                        if (item.Href.Length > 70)
                        {
                            <h3 style="margin:0px;"><a href="/@item.ShortId">@item.Href.Substring(0, 70)</a></h3>
                        }
                        else
                        {
                            <h3 style="margin:0px;"><a href="/@item.ShortId">@item.Href</a></h3>
                        }
                    }
                    @if (!String.IsNullOrEmpty(@item.Summary))
                    {
                        <br /><p>@item.Summary</p>
                    }
                    <small style="color:#808080">
                        Hosted by <a href="/site/@item.Host/">@item.Host</a><br />
                        @if (@item.Users != null && @item.Users.Count > 0)
                        {
                            <span>Followers:</span>
                            foreach (var user in item.Users.Take(10))
                            {
                                <a href="/user/@user">@user</a>
                            }
                            <br />
                        }
                        @if (@item.Tags != null && @item.Tags.Count > 0)
                        {
                            <span>Tags:</span>
                            foreach (var tag in item.Tags.Take(10))
                            {
                                <a href="/tag/@tag">@tag</a>
                            }
                            <br />
                        }
                        Tools: <a href="/stats/@item.ShortId">statistics</a> :: <a href="/ad/@item.ShortId">ad link</a> :: <a href="/trace/@item.ShortId">resolve url</a> :: <a href="/qr/@item.ShortId/10">qr code</a>
                    </small>
                </div>
                <div class="col-xs-2">
                    @if (Model.UserName != null && Model.UserName.Equals(User.Identity.Name))
                    {
                        <a class="btn btn-sm btn-danger pull-right" href="/home/deleteuser/@item.ShortId"> Unfollow </a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-success pull-right" href="/home/adduser/@item.ShortId"> Follow </a>
                    }
                </div>
            </div>
            <hr style="margin-top:15px; margin-bottom:10px">
        }
    }
    else
    {
        <h3>No records found.</h3>
        <br />
    }
    <h4>
        <a class="pull-left" href="?@Model.Pager.PrevPath()"><< Previous</a>
        <a class="pull-right" href="?@Model.Pager.NextPath()">Next >></a>
    </h4>
    <br />
</div>